In [84]:
import json
import pandas as pd

In [85]:
df = pd.read_csv('../data/_results/asset_evolution_elections_2018.csv')
df = df[df.year.isin([2010, 2014, 2018])]

In [86]:
counts = df.name.value_counts()
candidates = counts[counts>=2].index

In [87]:
df_candidates = df[df.name.isin(candidates)]
df_candidates.head(2)

,name,num_of_elections_run,year,state,position,result,sum_of_assets_declared,num_of_assets_declared,empty,Unnamed: 9
10,FRANCISCO OSMAR DIÓGENES BAQUIT,3,2018,CE,DEPUTADO(A) ESTADUAL,0,1041879.42,6.0,NaN,NaN
12,FRANCISCO OSMAR DIÓGENES BAQUIT,3,2014,CE,DEPUTADO(A) ESTADUAL,ELEITO POR QP,150000.0,1.0,NaN,NaN

In [88]:
df_candidates.shape

(6180, 10)

In [89]:
df_candidates.sum_of_assets_declared = df_candidates.sum_of_assets_declared.str.replace('None', '0')

/Users/leportella/.virtualenvs/serenata/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [90]:
df_candidates.fillna(0, inplace=True)
df_candidates.sum_of_assets_declared = df_candidates.sum_of_assets_declared.astype(float)

/Users/leportella/.virtualenvs/serenata/lib/python3.6/site-packages/pandas/core/frame.py:3787: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)
/Users/leportella/.virtualenvs/serenata/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [91]:
df_pivot = df_candidates.pivot_table(columns=['year'], index=['name'], values=['sum_of_assets_declared'])
df_pivot.fillna(0, inplace=True)

In [92]:
# Retirando multiindex do resultado do pivot table (simplificando)

new_dict = {
    2010: df_pivot['sum_of_assets_declared'][2010],
    2014: df_pivot['sum_of_assets_declared'][2014],
    2018: df_pivot['sum_of_assets_declared'][2018],
}

df = pd.DataFrame(new_dict)

In [93]:
df['2010-2014'] = df[2014] - df[2010]
df['2014-2018'] = df[2018] - df[2014]
df['2010-2018'] = df[2018] - df[2010]

# Transformando para milhões
for col in df.columns:
    df[col] = df[col] / 10**6

# Crescimento de patrimônio de 2010 a 2018

In [97]:
df_2010_2018 = df[df['2010-2018']>=50]

In [98]:
df_2010_2018.sort_values(by='2010-2018', ascending=False)

,2010,2014,2018,2010-2014,2014-2018,2010-2018
name,,,,,,
OTAVIANO OLAVO PIVETTA,415.727181,0.000000,758.912854,-415.727181,758.912854,343.185673
MARDEN LUIS BRITO CAVALCANTE E MENESES,0.112281,0.619703,307.438779,0.507422,306.819076,307.326498
PEDRO CHAVES DOS SANTOS FILHO,69.308265,0.000000,260.989122,-69.308265,260.989122,191.680857
MAURO MENDES FERREIRA,57.155336,0.000000,226.907614,-57.155336,226.907614,169.752277
IVONE MEZZOMO CASSOL,0.000000,56.276546,169.428539,56.276546,113.151993,169.428539
NILSO JOSÉ BERLANDA,3.993157,6.266501,129.618954,2.273345,123.352453,125.625798
DÂMINA DE CARVALHO PEREIRA,0.000000,38.827718,75.173523,38.827718,36.345805,75.173523
EDENILSO ROSSI ARNALDI,0.000000,27.077399,67.179340,27.077399,40.101941,67.179340
MARINALDO ROSENDO DE ALBUQUERQUE,0.000000,13.026175,64.470224,13.026175,51.444049,64.470224
MIGUEL MOUBADDA HADDAD,0.000000,11.383318,58.633150,11.383318,47.249832,58.633150

In [99]:
df_2014_2018 = df[df['2014-2018']>=50]
df_2014_2018.sort_values(by='2010-2018', ascending=False)

,2010,2014,2018,2010-2014,2014-2018,2010-2018
name,,,,,,
OTAVIANO OLAVO PIVETTA,415.727181,0.000000,758.912854,-415.727181,758.912854,343.185673
MARDEN LUIS BRITO CAVALCANTE E MENESES,0.112281,0.619703,307.438779,0.507422,306.819076,307.326498
PEDRO CHAVES DOS SANTOS FILHO,69.308265,0.000000,260.989122,-69.308265,260.989122,191.680857
MAURO MENDES FERREIRA,57.155336,0.000000,226.907614,-57.155336,226.907614,169.752277
IVONE MEZZOMO CASSOL,0.000000,56.276546,169.428539,56.276546,113.151993,169.428539
NILSO JOSÉ BERLANDA,3.993157,6.266501,129.618954,2.273345,123.352453,125.625798
MARINALDO ROSENDO DE ALBUQUERQUE,0.000000,13.026175,64.470224,13.026175,51.444049,64.470224
REINALDO AZAMBUJA SILVA,31.907723,13.720208,77.397395,-18.187515,63.677187,45.489672
WILDER PEDRO DE MORAIS,14.419491,0.000000,56.263647,-14.419491,56.263647,41.844156

In [101]:
df_acima_50mi = df[(df[2010]>=50) | (df[2014]>=50) | (df[2018]>=50)]
df_acima_50mi.sort_values(by='2010-2018', ascending=False)

,2010,2014,2018,2010-2014,2014-2018,2010-2018
name,,,,,,
OTAVIANO OLAVO PIVETTA,415.727181,0.000000,758.912854,-415.727181,758.912854,343.185673
MARDEN LUIS BRITO CAVALCANTE E MENESES,0.112281,0.619703,307.438779,0.507422,306.819076,307.326498
PEDRO CHAVES DOS SANTOS FILHO,69.308265,0.000000,260.989122,-69.308265,260.989122,191.680857
MAURO MENDES FERREIRA,57.155336,0.000000,226.907614,-57.155336,226.907614,169.752277
IVONE MEZZOMO CASSOL,0.000000,56.276546,169.428539,56.276546,113.151993,169.428539
NILSO JOSÉ BERLANDA,3.993157,6.266501,129.618954,2.273345,123.352453,125.625798
DÂMINA DE CARVALHO PEREIRA,0.000000,38.827718,75.173523,38.827718,36.345805,75.173523
EDENILSO ROSSI ARNALDI,0.000000,27.077399,67.179340,27.077399,40.101941,67.179340
MARINALDO ROSENDO DE ALBUQUERQUE,0.000000,13.026175,64.470224,13.026175,51.444049,64.470224
MIGUEL MOUBADDA HADDAD,0.000000,11.383318,58.633150,11.383318,47.249832,58.633150
VANDERLAN VIEIRA CARDOSO,6.824395,30.011401,53.289319,23.187006,23.277918,46.464924
REINALDO AZAMBUJA SILVA,31.907723,13.720208,77.397395,-18.187515,63.677187,45.489672
MAGDA MOFATTO HON,12.773222,20.972444,56.384642,8.199222,35.412198,43.611420
ATAÍDES DE OLIVEIRA,15.415343,28.113271,58.536075,12.697929,30.422803,43.120732
WILDER PEDRO DE MORAIS,14.419491,0.000000,56.263647,-14.419491,56.263647,41.844156
JACOB ALFREDO STOFFELS KAEFER,95.728260,108.581710,2.638395,12.853450,-105.943315,-93.089865